[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=com.github.erhoof.AniClient
Exec=/usr/bin/com.github.erhoof.AniClient
Name=AniLibria
Name[ru]=AniLibria

[X-Application]
Permissions=Audio;Internet
OrganizationName=com.github.erhoof
ApplicationName=AniClient
ExecDBus=/usr/bin/com.github.erhoof.AniClient

[X-Aurora-Application]
IconMode=Crop
