[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.erhoof.MyManga
Exec=/usr/bin/ru.erhoof.MyManga
Name=My Manga
Name[ru]=Моя Манга

[X-Application]
Permissions=Audio;Internet
OrganizationName=ru.erhoof
ApplicationName=MyManga
ExecDBus=/usr/bin/ru.erhoof.MyManga

[X-Aurora-Application]
IconMode=Crop
