[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.erhoof.AniLibre
Exec=/usr/bin/ru.erhoof.AniLibre
Name=AniLibre

[X-Application]
Permissions=Audio;Internet
OrganizationName=ru.erhoof
ApplicationName=AniLibre
ExecDBus=/usr/bin/ru.erhoof.AniLibre

[X-Aurora-Application]
IconMode=Crop
